@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="block_unAuthorizeContent" style="text-align: center;">
    <h1>Данная функция недоступна</h1>
    <p>Пожалуйста, авторизуйтесь и попробуйте снова.</p>
    <div class="block_errorImage">
        <img src="~/img/error.png" alt="">
    </div>
    <div class="block_btnAuth">
        <a class="btnAuth" style="font-size: 14px;" asp-controller="Cabinet" asp-action="Cabinet">Авторизоваться</a>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>