@{
    ViewData["Title"] = "О нас";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <style>

        .content {
            background-image: url("https://img3.goodfon.ru/original/1920x1080/e/f9/ochki-kniga-fon.jpg");
        }

        .about_block {
            margin-top: -30px;
            padding: 30px 60px;
            background: rgba(191, 191, 191, 0.66);
        }

            .about_block h1 {
                color: rgba(77, 77, 77, 0.89);
            }

            .about_block p {
                color: rgba(42, 42, 42, 0.82);
                font-size: 18px;
            }

                .about_block p::first-letter {
                    font-weight: bold;
                    font-size: x-large;
                    color: #dcce84;
                }

        .logotype_library img {
            position: relative;
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="about_block">
            <div class="logotype_library">
                <img src="~/img/Logotype.png" alt="">
            </div>
            <div class="text_about">
                <h1>О нас</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam blanditiis consequatur consequuntur culpa cum debitis dolor esse explicabo facere, harum hic, illo impedit inventore iste magnam nulla numquam quas qui recusandae sunt veniam. Deserunt fugiat, optio? Culpa cum distinctio incidunt numquam, optio pariatur perferendis quis sunt voluptatum. Quae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, possimus velit. Adipisci aliquid amet beatae debitis dolor, dolore ducimus earum eos esse in ipsa, iste itaque iure iusto, maxime molestiae nesciunt nisi nulla pariatur perferendis quae quidem quod tempore totam vero? Aperiam autem corporis deserunt dolore dolores, doloribus eaque error est et excepturi hic illum laudantium modi molestiae pariatur perspiciatis recusandae repellat saepe sint suscipit. Consectetur consequuntur culpa ducimus, eligendi eum fugiat iure iusto molestias, nesciunt non, numquam quasi quis saepe? Ab ad aliquid amet animi, atque blanditiis commodi culpa, deleniti doloremque dolores eaque earum eligendi eveniet explicabo harum illum impedit ipsam magni molestiae mollitia nostrum numquam odit perspiciatis quam quas quibusdam suscipit, tempora vel velit voluptatem. A aliquid est fugiat harum molestias placeat, quos reiciendis sunt tempore vel voluptatum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic in iste laudantium possimus qui reiciendis? Accusamus aperiam aspernatur cumque dignissimos explicabo facilis, itaque laudantium, libero non nostrum omnis quam quia quod rerum, suscipit. Animi exercitationem fugit neque optio perferendis, repudiandae sit. Aperiam architecto aut deserunt excepturi fuga minus molestias omnis, perspiciatis quisquam rerum sint tempore ut veniam vero voluptas. Dolor itaque, repellat. Aliquid aperiam commodi culpa, dolorem doloremque eaque eligendi excepturi facere inventore laboriosam maxime nam, necessitatibus non obcaecati omnis porro reprehenderit? Aliquid animi dolor eveniet iste neque recusandae tempore velit. Alias hic quibusdam sed sint! Esse ipsam molestiae neque quisquam sunt? Adipisci aliquid aperiam architecto, aspernatur beatae commodi consectetur culpa cumque cupiditate dicta doloremque enim eum excepturi facilis inventore maxime nam nihil nulla perspiciatis quos unde veritatis voluptate voluptates? Adipisci deserunt dignissimos dolorem est, excepturi ipsam laborum modi necessitatibus non provident qui saepe soluta, tempore? Ad adipisci cumque, dolore dolores earum exercitationem fuga fugit harum ipsa ipsam ipsum iusto magnam magni molestias mollitia omnis possimus soluta tenetur velit voluptas! A ad asperiores at atque consectetur dignissimos distinctio doloremque dolorum enim eum illum in ipsam iure, iusto magnam magni modi nesciunt numquam quia repellendus ullam, unde veritatis voluptas! Aliquid consectetur eligendi eveniet exercitationem facere fugit incidunt ipsa laudantium, magni necessitatibus nemo nostrum quae tempora. A aspernatur assumenda atque commodi consequatur delectus dignissimos dolorem doloremque ducimus, eaque eligendi eum eveniet facilis illum impedit laboriosam libero, minus nemo neque, quam quod reiciendis sequi soluta temporibus totam ullam ut vitae voluptatem voluptatum!</p>
            </div>
        </div>
    </div>
</body>
</html>
